@using Shop_Maintain.Models;
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<TNhanVien>
@{
    ViewData["Title"] = "DanhSachNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h3>Danh sách nhân viên</h3>

<p>
    <a asp-action="ThemNhanVienMoi">Thêm Nhân Viên Mới</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Username
            </th>
            <th>
                Tên Nhân Viên
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Số Điện Thoại 1
            </th>
            <th>
                Số Điện Thoại 2
            </th>
            <th>
                Địa Chỉ
            </th>
            <th>
                Chức Vụ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
        @foreach (var item in Model) {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChucVu)
                </td>
                <td>
                    <a asp-action="SuaNhanVien" asp-route-maNhanVien="@item.MaNhanVien">Sửa</a> |
                    <a asp-action="ChiTietNhanVien" asp-route-maNhanVien="@item.MaNhanVien">Chi tiết</a> |
                    <a asp-action="XoaNhanVien" asp-route-maNhanVien="@item.MaNhanVien">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("danhsachnhanvien", new {page = page}), 
new X.PagedList.Mvc.Core.PagedListRenderOptions()
{
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
})
